/* start font */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dekko&display=swap');

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.dekko{
  font-family: 'Dekko', cursive;
}
/* end font */

/* start colors system */


/* end colors system */

/* start button system */
.btn {
  text-transform: none !important;
  border-radius: 4.125rem !important;
}

.front-page-button{
  background-color: #FF10AC !important;
}

/* end button system */

body{
  background-image: url(../assets/background-digifab.png);
}

/* start header */

/* start header-navbar */

.logo-digifab{
  width: 130px;
  height: auto;
}

.header-social-network{
  width: 18px;
  height: auto;
}

.navlinks-weight{
  font-size: 14px;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link{
  padding-bottom: 0;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link{
  background-color: rgba(255,255,255,1) !important;
  border-bottom:solid 2px #000;
  width:100%;
  left:0%;
}

/* start underlined links */
.navbar.navbar-light .navbar-nav .nav-item .nav-link::before {
  content:" ";
  display:block;
  position:absolute;
  border-bottom:solid 2px #ddd;
  bottom:0px;
  width:0%;
  left:50%;
  margin:0;
  padding:- 5px;
  transition:all 0.5s;
  z-index:-1;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover::before {
  border-bottom:solid 2px #000;
  width:100%;
  left:0%;
}
/* end underlined links */
/* end header-navbar */
/* end header */

/* start head */

.head-container{
  height:90vh
}

.row-header{
  height: 90vh;
}

.header-title{
  font-size: 3rem;
}

/* start scroll icon */
.scroll-icon::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

.scroll-icon a {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #000;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll-icon a:hover {
  opacity: .5;
}

.scroll-icon a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
/* end scroll icon */
/* end head */

/* start partie thematique */
.carousel{
  margin: auto;
  height: 400px;
}

.li-thematiques {
  width: 500px;
  height: 281px;
  background: #333;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.li-thematiques p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}

.items {
  position: absolute;
}

.main-pos {
  z-index: 3000;
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
  opacity: .3;
  margin-left: -19em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.right-pos {
  opacity: .3;
  margin-left:  21em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

#prev{
  top: 44%;
  left: -3%;
}

#next{
  top: 44%;
  right: -3%;
}
/* end partie thematique */